.dark {
  --md-sys-color-primary: rgb(141 205 255);
  --md-sys-color-surface-tint: rgb(141 205 255);
  --md-sys-color-on-primary: rgb(0 52 79);
  --md-sys-color-primary-container: rgb(0 161 232);
  --md-sys-color-on-primary-container: rgb(0 5 11);
  --md-sys-color-secondary: rgb(255 181 157);
  --md-sys-color-on-secondary: rgb(93 24 0);
  --md-sys-color-secondary-container: rgb(210 66 0);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(173 198 255);
  --md-sys-color-on-tertiary: rgb(0 46 105);
  --md-sys-color-tertiary-container: rgb(0 58 129);
  --md-sys-color-on-tertiary-container: rgb(189 208 255);
  --md-sys-color-error: rgb(255 179 175);
  --md-sys-color-on-error: rgb(104 0 15);
  --md-sys-color-error-container: rgb(159 0 28);
  --md-sys-color-on-error-container: rgb(255 229 227);
  --md-sys-color-background: rgb(15 20 24);
  --md-sys-color-on-background: rgb(222 227 233);
  --md-sys-color-surface: rgb(15 20 24);
  --md-sys-color-on-surface: rgb(222 227 233);
  --md-sys-color-surface-variant: rgb(62 72 81);
  --md-sys-color-on-surface-variant: rgb(190 200 210);
  --md-sys-color-outline: rgb(136 146 156);
  --md-sys-color-outline-variant: rgb(62 72 81);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 233);
  --md-sys-color-inverse-on-surface: rgb(44 49 54);
  --md-sys-color-inverse-primary: rgb(0 100 147);
  --md-sys-color-primary-fixed: rgb(202 230 255);
  --md-sys-color-on-primary-fixed: rgb(0 30 48);
  --md-sys-color-primary-fixed-dim: rgb(141 205 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 75 112);
  --md-sys-color-secondary-fixed: rgb(255 219 208);
  --md-sys-color-on-secondary-fixed: rgb(57 12 0);
  --md-sys-color-secondary-fixed-dim: rgb(255 181 157);
  --md-sys-color-on-secondary-fixed-variant: rgb(131 38 0);
  --md-sys-color-tertiary-fixed: rgb(216 226 255);
  --md-sys-color-on-tertiary-fixed: rgb(0 26 65);
  --md-sys-color-tertiary-fixed-dim: rgb(173 198 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(2 68 148);
  --md-sys-color-surface-dim: rgb(15 20 24);
  --md-sys-color-surface-bright: rgb(53 58 63);
  --md-sys-color-surface-container-lowest: rgb(10 15 19);
  --md-sys-color-surface-container-low: rgb(23 28 33);
  --md-sys-color-surface-container: rgb(27 32 37);
  --md-sys-color-surface-container-high: rgb(37 43 47);
  --md-sys-color-surface-container-highest: rgb(48 53 58);
}
