*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    cursor: default;
}

:root {
    --color-primary: rgb(0 100 147);
    --color-surface-tint: rgb(0 100 147);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(50 181 255);
    --color-primary-container-hover: rgb(46 164 237);
    --color-on-primary-container: rgb(0 35 55);
    --color-secondary: rgb(147 44 0);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(210 66 0);
    --color-on-secondary-container: rgb(255 255 255);
    --color-tertiary: rgb(0 49 111);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(31 83 163);
    --color-on-tertiary-container: rgb(250 249 255);
    --color-error: rgb(136 0 22);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(198 27 44);
    --color-on-error-container: rgb(255 255 255);
    --color-background: rgb(246 249 255);
    --color-on-background: rgb(23 28 33);
    --color-surface: rgb(246 249 255);
    --color-on-surface: rgb(23 28 33);
    --color-surface-variant: rgb(218 228 239);
    --color-on-surface-variant: rgb(62 72 81);
    --color-outline: rgb(110 120 130);
    --color-outline-variant: rgb(190 200 210);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(44 49 54);
    --color-inverse-on-surface: rgb(237 241 248);
    --color-inverse-primary: rgb(141 205 255);
    --color-primary-fixed: rgb(202 230 255);
    --color-on-primary-fixed: rgb(0 30 48);
    --color-primary-fixed-dim: rgb(141 205 255);
    --color-on-primary-fixed-variant: rgb(0 75 112);
    --color-secondary-fixed: rgb(255 219 208);
    --color-on-secondary-fixed: rgb(57 12 0);
    --color-secondary-fixed-dim: rgb(255 181 157);
    --color-on-secondary-fixed-variant: rgb(131 38 0);
    --color-tertiary-fixed: rgb(216 226 255);
    --color-on-tertiary-fixed: rgb(0 26 65);
    --color-tertiary-fixed-dim: rgb(173 198 255);
    --color-on-tertiary-fixed-variant: rgb(2 68 148);
    --color-surface-dim: rgb(214 218 225);
    --color-surface-bright: rgb(246 249 255);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(240 244 250);
    --color-surface-container: rgb(234 238 245);
    --color-surface-container-high: rgb(228 232 239);
    --color-surface-container-highest: rgb(222 227 233);
}

@media (prefers-color-scheme: dark) {
    --color-primary: rgb(141 205 255);
    --color-surface-tint: rgb(141 205 255);
    --color-on-primary: rgb(0 52 79);
    --color-primary-container: rgb(0 161 232);
    /* --color-primary-container-hover: rgb(); <- todo */
    --color-on-primary-container: rgb(0 5 11);
    --color-secondary: rgb(255 181 157);
    --color-on-secondary: rgb(93 24 0);
    --color-secondary-container: rgb(210 66 0);
    --color-on-secondary-container: rgb(255 255 255);
    --color-tertiary: rgb(173 198 255);
    --color-on-tertiary: rgb(0 46 105);
    --color-tertiary-container: rgb(0 58 129);
    --color-on-tertiary-container: rgb(189 208 255);
    --color-error: rgb(255 179 175);
    --color-on-error: rgb(104 0 15);
    --color-error-container: rgb(159 0 28);
    --color-on-error-container: rgb(255 229 227);
    --color-background: rgb(15 20 24);
    --color-on-background: rgb(222 227 233);
    --color-surface: rgb(15 20 24);
    --color-on-surface: rgb(222 227 233);
    --color-surface-variant: rgb(62 72 81);
    --color-on-surface-variant: rgb(190 200 210);
    --color-outline: rgb(136 146 156);
    --color-outline-variant: rgb(62 72 81);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(222 227 233);
    --color-inverse-on-surface: rgb(44 49 54);
    --color-inverse-primary: rgb(0 100 147);
    --color-primary-fixed: rgb(202 230 255);
    --color-on-primary-fixed: rgb(0 30 48);
    --color-primary-fixed-dim: rgb(141 205 255);
    --color-on-primary-fixed-variant: rgb(0 75 112);
    --color-secondary-fixed: rgb(255 219 208);
    --color-on-secondary-fixed: rgb(57 12 0);
    --color-secondary-fixed-dim: rgb(255 181 157);
    --color-on-secondary-fixed-variant: rgb(131 38 0);
    --color-tertiary-fixed: rgb(216 226 255);
    --color-on-tertiary-fixed: rgb(0 26 65);
    --color-tertiary-fixed-dim: rgb(173 198 255);
    --color-on-tertiary-fixed-variant: rgb(2 68 148);
    --color-surface-dim: rgb(15 20 24);
    --color-surface-bright: rgb(53 58 63);
    --color-surface-container-lowest: rgb(10 15 19);
    --color-surface-container-low: rgb(23 28 33);
    --color-surface-container: rgb(27 32 37);
    --color-surface-container-high: rgb(37 43 47);
    --color-surface-container-highest: rgb(48 53 58);
}

/* Layout.tsx related styles for the app container */

#root,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

#root {
    flex-direction: column;
}

main {
    /* main takes 90 of the vieport height since the header
    and footer take the remaining 5 and 5 respectively */
    height: 90vh;
    width: 100vw;
    display: flex;
}

header.upper_panel,
footer.lower_panel {
    padding: 0.5em 2em;
    border: 1px solid;
    border-color: var(--color-outline-variant);
}

header.upper_panel {
    height: 5vh;
    width: 100%;
    display: flex;
    background-color: var(--color-surface);
}

header.upper_panel > a.skip-link {
    position: absolute;
    left: -9999px;
    top: 0;
    background-color: white;
}

footer.lower_panel {
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-surface);
}

footer.lower_panel > .left_dock > div.accessibility_button_group > button {
    padding: 10px;
}

/* styling for the middle button inside zoom controls in LP */
footer.lower_panel
    > .left_dock
    > div.accessibility_button_group
    > button:nth-child(2) {
    font-size: 1em;
}

.navbar_container {
    height: 100%;
    width: 15vw;
    background-color: var(--color-surface-variant);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1px;
    border-right: 1px solid;
    border-color: var(--color-outline-variant);
    overflow: hidden;
}

.navbar_container.close {
    display: none;
}

/* Styles for react router navlinks */
a.navlink {
    width: 100%;
    padding: 20px;
    border-radius: 0.3rem;
    color: var(--color-on-surface);
    font-size: 1.3rem;
    text-overflow: clip;
    text-decoration: none;
}

a.navlink.active {
    color: var(--color-on-primary-container);
    background-color: var(--color-primary-container);
    font-weight: bold;
}

a.navlink:hover {
    background-color: var(--color-primary-container-hover);
    transition: background-color 300ms;
}
